body{
font-family: 'Segoe UI', sans-serif;
margin:0;
background:url('images/fondo.jpg') no-repeat center/cover;
color:#000;
}
header{
background:#feceda;
padding:20px;
display:flex;
align-items:center;
justify-content:space-between;
}
.logo{
height:160px;
}
nav a{
margin:0 10px;
text-decoration:none;
font-weight:bold;
color:#000;
}
section{
padding:60px 20px;
background:rgba(255,255,255,0.9);
margin:20px;
border-radius:12px;
}
.hero{
text-align:center;
}
.btn{
display:inline-block;
padding:14px 20px;
background:#000;
color:#fff;
text-decoration:none;
border-radius:8px;
}
